{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dtBasicExample" class="table table-striped table-with-nums table-bordered table-sm" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">T/R</th>
                                    <th class="th-sm">To'liq ismi</th>
                                    <th class="th-sm">Email</th>
                                    <th class="th-sm">Raqami</th>
                                    <th class="th-sm">Manzili</th>
                                    <th class="th-sm">To'lov</th>
                                    <th class="th-sm">Guruh</th>
                                    <th class="th-sm">Avatar</th>
                                    <th class="th-sm">Tahrirlash</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{student.last_name}} {{student.first_name}}</td>
                                    <td>{{student.email}}</td>
                                    <td>{{student.get_number}}</td>
                                    <td>{{student.address}}</td>
                                    <td>{{student.student.should_pay}}</td>
                                    <td>{{student.student.subject.name}}</td>
                                    <td>
                                        {% if student.profile_pic == "" %}
                                        No Image
                                        {% else %}
                                        <!-- <img class="img img-fluid mb-2" width="60" style="border-radius: 50%;"
                                                            src="{{student.profile_pic}}" alt=""> -->
                                        <a href="{{student.profile_pic}}">ko'rish</a>
                                        {% endif %}
                                    </td>

                                    <td><a href="{% url 'edit_student' student.student.id %}"
                                            class="btn btn-primary">Yangilash</a> -
                                        <a href="{% url 'delete_student' student.student.id %}" class="btn btn-danger"
                                            onclick="return confirm('O\'quvchini rostdan ham o\'chirmoqchimisz?')">O'chirish</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}