{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dtBasicExample" class="table table-striped table-with-nums table-bordered table-sm"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>To'liq ismi</th>
                                    <th>To'landi</th>
                                    <th>To'lagan vaqti</th>
                                    <th>Ushbu oy uchun</th>
                                    <th>To'lashi kerak</th>
                                    <th>To'lash</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in last_payments %}
                                <tr>
                                    <td>
                                        <img src="{{ payment.student.admin.profile_pic }}" alt="{{ student.id }}"
                                            class="img-circle img-size-32 mr-2">
                                        {{ payment.student.admin.first_name}} {{payment.student.admin.last_name}}
                                    </td>
                                    <td>{{payment.payment_amount}} SUM</td>
                                    <td>
                                        {{payment.created_at|date:"d-m-Y"}}
                                    </td>
                                    <th>{{ payment.payment_month }}</th>
                                    <td>
                                        <a href="#" class="text-muted">
                                            {{payment.student.should_pay}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-muted">
                                            <a href="{% url 'student_payment' payment.student.id %}"
                                                class="btn btn-info">To'lash</a>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}